body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #fdfdfd;
    color: #333;
}

header {
    background: #2c3e50;
    color: white;
    padding: 2rem;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

h2{ 
    color: #2c3e50
}

footer {
    text-align: center;
    padding: 1rem;
    background: #eee;
    font-size: 0.9em;
}